/* Layout */

* {
  box-sizing: border-box; /* pour maîtriser width et flex-basis */
}

html {
  display: flex; flex-direction: column; /* correction bug IE de min-height non appliqué à body */
}

body {
  display: flex; /* crée un contexte flex pour ses enfants */
  flex-direction: column; /* affichage vertical */
  min-height: 100vh; /* toute la hauteur du viewport */
  padding: 0em;
  margin: 0em;
}

.wrapper {
  flex: 1 1 auto; /* occupe la hauteur restante */
  display: flex; /* crée un contexte flex pour ses enfants */
}

nav,
aside {
  width: 10em;
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 1 0; /* occupe la largeur restante */
  max-width: 100%;
}

nav {
  order: -1; /* nav s'affiche en premier */
}


/* Responsive (fenêtres de moins de 640px) */

@media (max-width: 640px) {
  .wrapper {
    flex-direction: column; /* affichage vertical */
  }
  nav,
  aside {
    width: auto; /* pour écraser la valeur 10em */
  }
  nav,
  aside,
  article {
    flex-basis: auto; /* pour écraser la valeur 0, due au flex: 1 */
  }
  nav {
    order: 0; /* nav reprend sa place */
  }
}

/* Decoration */

body {
  margin: 0;
  font-family: arial, sans-serif;
}
header,
nav,
aside,
article,
footer {
  margin: .4em;
  padding: 1em;
  border-radius: 6px;
}
header {
  margin-top: 0;
  text-align: center;
}
nav {
  background: lightgrey;
}
aside {
  background: lightgrey;
}
article {
  background: grey;
  align-content: center;
}
footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}



p{
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 4px;
  padding: 36px 36px;
  background-color: lightgrey;
  transition-duration: .5s;
  font-family: 'Orbitron', sans-serif;
}

p:hover{
  background-color: lightgreen;
  color: white;
  transform: scale(1.2);
  font-family: 'Orbitron', sans-serif;
  z-index: 5;
  font-weight: bold;
  border-color: white;
  box-shadow: 5px 5px 15px black;
}

h1{
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}


a{
  padding: 25px 60px;
  background-color: lightgreen;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: white;
  border:5px solid grey;
  border-radius: 50px;
  text-decoration: none;
  transition-duration: .5s;
}

a:hover{
  text-shadow: 5px 5px 15px black;
  box-shadow: 5px 5px 15px black;
  transform: scale(1.2);
}